.usamap {
    left: 400px;
    top: 100px;
    position: absolute;
}

.radiogroup1 {
    left: 200px;
    top: 100px;
    position: absolute;
}
.radio1 {
    top: 305px;
    left: 1545px;
    position: relative;
  }
.radio2 {
    top: 530px;
    left: 215px;
    position: relative;
  }
.radio3 {
    top: 325px;
    left: 940px;
    position: relative;
  }
.radio4 {
    top: 860px;
    left: 1125px;
    position: relative;
  }
.radio5 {
    top: 760px;
    left: 560px;
    position: relative;
  }
.radio6 {
    top: 390px;
    left: -290px;
    position: relative;
  }
.radio7 {
    top: 390px;
    left: 805px;
    position: relative;
  }
.carousel {
  top: 10%;
  right: 2%;
  position: absolute;
}
#card {
  background-color: rgba(0, 255, 255, 0);
}