.usamap {
    left: 200px;
    top: 100px;
    position: absolute;
}

.radiogroup1 {
    left: 200px;
    top: 100px;
    position: absolute;
}
.radio1 {
    top: 255px;
    left: 1050px;
    position: relative;
  }
.radio2 {
    top: 445px;
    left: -15px;
    position: relative;
  }
.radio3 {
    top: 265px;
    left: 520px;
    position: relative;
  }
.radio4 {
    top: 715px;
    left: 650px;
    position: relative;
  }
.radio5 {
    top: 640px;
    left: 185px;
    position: relative;
  }
.radio6 {
    top: 320px;
    left: -500px;
    position: relative;
  }
.radio7 {
    top: 325px;
    left: 325px;
    position: relative;
  }
.carousel {
  top: 10%;
  right: 2%;
  position: absolute;
}
#card {
  background-color: rgba(0, 255, 255, 0);
}