.option {
    width: 200px;
    height: 200px;
    background: rgb(0, 200, 255);
    cursor: pointer;
}
.optionselected {
    width: 200px;
    height: 200px;
    background: rgb(0, 255, 200);
    cursor: pointer;
}
