.left-side{
    font-family: Poppins;
    margin-right: 50px;
}
.linemap {
    bottom: 40%;
    right: 10%;
    position: relavtive;
}
.trip-save{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    background: #484751;
    color: #ffffff;
}
.top-line{
    display: flex;
    justify-content: space-between;
}
.ant-table-thead{
    background: #484751;
}
.ant-table {
    box-sizing: border-box;
    font-variant: tabular-nums;
    position: relative;
    font-size: 20px;
    font-weight: light;
    background: #fff;
    border-radius: 2px;
}
.firstline{
    display: flex;
    justify-content: space-between;
}