@import '~antd/dist/antd.css';
@import "./styles/About.css";
@import "./styles/App.css";
@import "./styles/BuildTrip.css";
@import "./styles/ContactUs.css";
@import "./styles/DrawPoints.css";
@import "./styles/Hist.css";
@import "./styles/HomePage.css";
@import "./styles/Login.css";
@import "./styles/Main.css";
@import "./styles/ManageTrip.css";
@import "./styles/Map.css";
@import "./styles/PageFooter.css";
@import "./styles/PageHeader.css";
@import "./styles/PlanTrip.css";
@import "./styles/POIDetailInfoButton.css";
@import "./styles/PrivacyPolicy.css";
@import "./styles/Recommendations.css";
@import "./styles/SearchPOI.css";
@import "./styles/SelectPOI.css";
@import "./styles/TermOfUse.css";
@import "./styles/WhatsHot.css";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  font-size: inherit;
  color: currentColor;
}
